<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>AFAutoPurgingImageCacheTests</key>
		<dict>
			<key>testAutoPurgingCachePerformance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.071089</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 14, 2016, 11:16:39 PM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
